<!DOCTYPE html>
<html ng-app="widgetjs">
<head>
	<meta charset="utf-8">
	<title>widget</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="controller/service_widget.js"></script>
	<link rel="stylesheet" href="assets/css/stilewid.css">
</head>


<body  ng-controller="widgetController">
	<div class="tutto">
	</div>
	<div class="header">
		<h1 class="titolo">IL METEO (modificato)</h1>
		<marquee>city:{{weather.name}}{{weather.sys.country}}</marquee>
	</div>
	<div class="container">
		<div class="form">
			<br>
			<br>
			<form >
				<input type="text" placeholder="city" ng-model="city">
				<input type="submit" ng-click="myFun()" class="rotondo" value="Submit">
			</form>
		</div>


		<br><br>
		<div class="menu">
		    <div class="list">
				<div class="sole"><img src={{img}}></div>
				<h4>{{weather.name}}{{weather.sys.country}}</h4>
				<font color="white">{{weather.weather[0].description}}</font>
				<h4><br>{{weather.main.temp}}</h4>
			</div>
			<div class="sinistra">
				<div class="pad"><h3>{{vento}}<p class="tmp">{{weather.wind.speed}}</p></h3></div>
				<div class="pad"><h3>{{umidita}}<br><p class="tmp">{{weather.main.humidity}}</p></h3></div>
				<div class="pad"><h3>{{pressione}}<br><p class="tmp">{{weather.main.pressure}}</p></h3></div>
			</div>
			<div class="destra">
				<br><ul ng-repeat="obj in vect">
				 <div class="sole2"><img src={{obj.img}}></div><font size="6"> &nbsp&nbsp&nbsp {{obj.city.name}} {{obj.city.main.temp}}</font>
				</ul>
			</div>
	   </div>

	</div>
	<div class="autore">
		<br><br>
<font color="white"> © 2018 Marco's Weather Widget. All Rights Reserved | Design By marco wang</font>
<div>
</body>
</html>